.App {
  text-align: center;
}

::-webkit-scrollbar{
  width: 4px;
  background-color: #00000058;
}

::-webkit-scrollbar-thumb{
  background-color: #000000;
  border-radius: 2px;
}

/* .app{
  height: 2000px;
} */

